<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServiceName" value="PowershellStarter Service"/>
    <add key="Eventlog" value="PowershellStarter"/>
    <add key="EventlogSource" value="TestScript"/>
    <add key="ScriptPath" value="C:\temp\pstest.ps1"/>
    <add key="ScriptParameters" value="ScriptParameters"/>
  </appSettings>
</configuration>